Repository kubernetes-sigs/cli-utils, pull requests merged in 2021-09, with the labels that each got.

#402 Refactor depends-on code
  pkg/object/annotations.go
  pkg/object/annotations_test.go
  pkg/object/dependson/annotation.go
  pkg/object/dependson/annotation_test.go
  pkg/object/dependson/strings.go
  pkg/object/dependson/strings_test.go
  pkg/object/dependson/types.go
  pkg/object/graph/depends.go
  pkg/testutil/object.go
Labels: approved, ok-to-test, lgtm, size/XXL, cncf-cla: yes

#405 Add more robust event list testing in e2e tests
  go.mod
  go.sum
  pkg/testutil/events.go
  pkg/testutil/matcher.go
  test/e2e/apply_and_destroy_test.go
  test/e2e/continue_on_error_test.go
  test/e2e/crd_test.go
  test/e2e/depends_on_test.go
  test/e2e/e2e_test.go
  test/e2e/inventory_policy_test.go
Labels: approved, ok-to-test, lgtm, size/XXL, cncf-cla: yes

#401 Ignore prune object "not found" error
  pkg/apply/prune/prune.go
  test/e2e/e2e_test.go
  test/e2e/prune_retrieve_error_test.go
Labels: approved, size/L, lgtm, cncf-cla: yes

#400 Add apply-time-mutation feature
  go.mod
  go.sum
  pkg/apply/applier.go
  pkg/apply/cache/resource_cache.go
  pkg/apply/cache/resource_cache_map.go
  pkg/apply/mutator/apply_time_mutator.go
  pkg/apply/mutator/apply_time_mutator_test.go
  pkg/apply/mutator/main_test.go
  pkg/apply/mutator/mutator.go
  pkg/apply/solver/solver.go
  pkg/apply/solver/solver_test.go
  pkg/apply/task/apply_task.go
  pkg/jsonpath/jsonpath.go
  pkg/jsonpath/jsonpath_test.go
  pkg/jsonpath/main_test.go
  pkg/object/dependson/types.go
  pkg/object/graph/depends.go
  pkg/object/graph/depends_test.go
  pkg/object/mutation/annotation.go
  pkg/object/mutation/annotation_test.go
  pkg/object/mutation/testutil/object.go
  pkg/object/mutation/types.go
  pkg/object/objmetadata.go
  pkg/testutil/object.go
  pkg/testutil/unstructured.go
  test/e2e/e2e_test.go
  test/e2e/mutation_test.go
Labels: approved, ok-to-test, lgtm, size/XXL, cncf-cla: yes

#407 Add a new flag value `force-adopt` to the `--inventory-policy` flag
  cmd/apply/cmdapply.go
  cmd/destroy/cmddestroy.go
  cmd/flagutils/utils.go
  cmd/flagutils/utils_test.go
  cmd/preview/cmdpreview.go
  pkg/apply/event/actiongroupeventtype_string.go
  pkg/apply/event/applyeventoperation_string.go
  pkg/apply/event/deleteeventoperation_string.go
  pkg/apply/event/pruneeventoperation_string.go
  pkg/apply/event/resourceaction_string.go
  pkg/apply/event/type_string.go
  pkg/kstatus/polling/event/eventtype_string.go
Labels: approved, size/M, lgtm, cncf-cla: yes

#406 Marshal with k8s.io/apimachinery/pkg/util/yaml
  pkg/apply/mutator/apply_time_mutator.go
  pkg/apply/mutator/apply_time_mutator_test.go
  pkg/jsonpath/jsonpath_test.go
  pkg/kstatus/polling/testutil/testing.go
  pkg/kstatus/status/example_test.go
  pkg/object/strings.go
  test/e2e/common_test.go
Labels: approved, ok-to-test, size/L, lgtm, cncf-cla: yes

#409 Include the resource ids in the timeout error msg
  pkg/apply/taskrunner/runner.go
  pkg/apply/taskrunner/runner_test.go
Labels: size/S, approved, lgtm, cncf-cla: yes

#410 Improve clarity of filter and mutator reasons
  pkg/apply/event/actiongroupeventtype_string.go
  pkg/apply/event/applyeventoperation_string.go
  pkg/apply/event/deleteeventoperation_string.go
  pkg/apply/event/pruneeventoperation_string.go
  pkg/apply/event/resourceaction_string.go
  pkg/apply/event/type_string.go
  pkg/apply/filter/current-uids-filter.go
  pkg/apply/filter/inventory-policy-apply-filter.go
  pkg/apply/filter/inventory-policy-filter.go
  pkg/apply/filter/local-namespaces-filter.go
  pkg/apply/filter/prevent-remove-filter.go
  pkg/apply/prune/prune.go
  pkg/apply/task/apply_task.go
  pkg/common/common.go
  pkg/common/dryrunstrategy_string.go
  pkg/inventory/inventoryidmatchstatus_string.go
  pkg/inventory/inventorypolicy_string.go
  pkg/inventory/policy.go
  pkg/kstatus/polling/event/eventtype_string.go
Labels: approved, ok-to-test, size/L, lgtm, cncf-cla: yes

#408 e2e test cleanup
  pkg/object/mutation/types.go
  test/e2e/apply_and_destroy_test.go
  test/e2e/artifacts_test.go
  test/e2e/common_test.go
  test/e2e/continue_on_error_test.go
  test/e2e/crd_test.go
  test/e2e/depends_on_test.go
  test/e2e/e2e_test.go
  test/e2e/inventory_policy_test.go
  test/e2e/mutation_test.go
  test/e2e/name_inv_strategy_test.go
  test/e2e/prune_retrieve_error_test.go
  test/e2e/serverside_apply_test.go
Labels: approved, ok-to-test, lgtm, size/XXL, cncf-cla: yes

#411 Fixes prune timeout value
  pkg/apply/solver/solver.go
  pkg/apply/solver/solver_test.go
Labels: approved, size/M, lgtm, cncf-cla: yes

#414 Use runCollect in e2e tests more consistently
  test/e2e/apply_and_destroy_test.go
  test/e2e/continue_on_error_test.go
  test/e2e/crd_test.go
  test/e2e/depends_on_test.go
  test/e2e/inventory_policy_test.go
  test/e2e/mutation_test.go
  test/e2e/prune_retrieve_error_test.go
Labels: approved, size/M, ok-to-test, lgtm, cncf-cla: yes

#413 Merge Collector and ResourceCache
  pkg/apply/applier.go
  pkg/apply/cache/resource_cache.go
  pkg/apply/cache/resource_cache_map.go
  pkg/apply/destroyer.go
  pkg/apply/mutator/apply_time_mutator.go
  pkg/apply/mutator/apply_time_mutator_test.go
  pkg/apply/prune/prune_test.go
  pkg/apply/task/apply_task_test.go
  pkg/apply/task/delete_inv_task_test.go
  pkg/apply/task/inv_add_task_test.go
  pkg/apply/task/inv_set_task_test.go
  pkg/apply/task/resetmapper_task_test.go
  pkg/apply/taskrunner/collector.go
  pkg/apply/taskrunner/collector_test.go
  pkg/apply/taskrunner/condition.go
  pkg/apply/taskrunner/condition_test.go
  pkg/apply/taskrunner/context.go
  pkg/apply/taskrunner/runner.go
  pkg/apply/taskrunner/runner_test.go
  pkg/apply/taskrunner/task.go
  pkg/apply/taskrunner/task_test.go
Labels: approved, ok-to-test, lgtm, size/XL, cncf-cla: yes
