Repository kubernetes-sigs/cli-utils, pull requests merged in 2022-08, with the labels that each got.

#598 Update README.md
  README.md
Labels: size/S, approved, ok-to-test, lgtm, cncf-cla: yes

#600 Allow easier creation of DelegatedStatusReader with custom status readers
  pkg/kstatus/polling/statusreaders/default.go
Labels: size/S, approved, lgtm, cncf-cla: yes

#601 Change printing functions to support the status output for other inventory types
  cmd/status/cmdstatus.go
  cmd/status/cmdstatus_test.go
  cmd/status/printers/event/printer.go
  cmd/status/printers/printer/printer.go
  cmd/status/printers/printers.go
Labels: approved, ok-to-test, size/L, lgtm, cncf-cla: yes

#602 Support the status output in table format for other inventory types
  cmd/status/printers/printers.go
  cmd/status/printers/table/adapter.go
  cmd/status/printers/table/printer.go
Labels: approved, size/M, ok-to-test, lgtm, cncf-cla: yes

#603 Add json printer
  cmd/status/cmdstatus_test.go
  cmd/status/printers/json/printer.go
  cmd/status/printers/printers.go
Labels: approved, ok-to-test, size/L, lgtm, cncf-cla: yes

#604 add Loader interface for easier customized implementation
  cmd/status/cmdstatus.go
  cmd/status/cmdstatus_test.go
Labels: approved, size/M, ok-to-test, lgtm, cncf-cla: yes

#605 add filtering and listing functionalities
  cmd/main.go
  cmd/status/cmdstatus.go
  cmd/status/cmdstatus_test.go
  pkg/inventory/fake-inventory-client.go
  pkg/inventory/inventory-client-factory.go
  pkg/inventory/inventory-client.go
  pkg/inventory/inventory-client_test.go
  pkg/inventory/inventorycm.go
  test/e2e/customprovider/provider.go
Labels: approved, ok-to-test, size/L, lgtm, cncf-cla: yes
