Repository kubernetes-sigs/cli-utils, pull requests merged in 2025-03, with the labels that each got.

#658 Add soltysh, remove liujingfang1 and update order to be alphabetical
  OWNERS
Labels: size/S, approved, lgtm, cncf-cla: yes

#660 test: fix inventory client tests
  pkg/common/common.go
  pkg/inventory/inventory-client.go
  pkg/inventory/inventory-client_test.go
Labels: approved, size/M, ok-to-test, lgtm, cncf-cla: yes

#659 refactor: return error from ConfigMap wrap functions
  cmd/apply/cmdapply.go
  cmd/destroy/cmddestroy.go
  cmd/preview/cmdpreview.go
  cmd/status/cmdstatus.go
  pkg/apply/applier_test.go
  pkg/apply/common_test.go
  pkg/apply/destroyer_test.go
  pkg/apply/filter/inventory-policy-apply-filter_test.go
  pkg/apply/filter/inventory-policy-prune-filter_test.go
  pkg/apply/prune/prune_test.go
  pkg/apply/solver/solver_test.go
  pkg/apply/task/inv_add_task_test.go
  pkg/inventory/inventory-client-factory.go
  pkg/inventory/inventory-client.go
  pkg/inventory/inventory-client_test.go
  pkg/inventory/inventory_test.go
  pkg/inventory/inventorycm.go
  pkg/inventory/storage.go
  pkg/manifestreader/fake-loader.go
  test/e2e/customprovider/provider.go
  test/e2e/invconfig/configmap.go
Labels: approved, ok-to-test, size/L, lgtm, cncf-cla: yes

#661 refactor: rename ClusterClientFactory to ConfigMapClientFactory
  cmd/main.go
  pkg/apply/common_test.go
  pkg/inventory/configmap-client-factory.go
  test/e2e/invconfig/configmap.go
Labels: size/S, approved, ok-to-test, lgtm, cncf-cla: yes

#653 feat: rewrite inventory client with basic CRUD
  cmd/status/cmdstatus.go
  cmd/status/cmdstatus_test.go
  pkg/apis/actuation/types.go
  pkg/apis/actuation/zz_generated.deepcopy.go
  pkg/apply/applier.go
  pkg/apply/applier_test.go
  pkg/apply/common_test.go
  pkg/apply/destroyer.go
  pkg/apply/destroyer_test.go
  pkg/apply/prune/prune.go
  pkg/apply/prune/prune_test.go
  pkg/apply/solver/solver.go
  pkg/apply/solver/solver_test.go
  pkg/apply/task/delete_inv_task_test.go
  pkg/apply/task/inv_add_task.go
  pkg/apply/task/inv_add_task_test.go
  pkg/apply/task/inv_set_task.go
  pkg/apply/task/inv_set_task_test.go
  pkg/apply/taskrunner/task_test.go
  pkg/inventory/configmap-client-factory.go
  pkg/inventory/fake-inventory-client.go
  pkg/inventory/inventory-client.go
  pkg/inventory/inventory-client_test.go
  pkg/inventory/inventory-info.go
  pkg/inventory/inventory_test.go
  pkg/inventory/inventorycm.go
  pkg/inventory/inventorycm_test.go
  pkg/inventory/manager.go
  pkg/inventory/policy.go
  pkg/inventory/policy_test.go
  pkg/inventory/storage.go
  test/e2e/customprovider/provider.go
  test/e2e/deletion_prevention_test.go
  test/e2e/invconfig/configmap.go
  test/e2e/invconfig/custom.go
  test/e2e/invconfig/invconfig.go
  test/e2e/name_inv_strategy_test.go
Labels: approved, ok-to-test, lgtm, size/XXL, cncf-cla: yes

#662 test: make CreateInventoryInfo return an error
  test/e2e/apply_and_destroy_test.go
  test/e2e/continue_on_error_test.go
  test/e2e/crd_test.go
  test/e2e/current_uid_filter_test.go
  test/e2e/customprovider/provider.go
  test/e2e/deletion_prevention_test.go
  test/e2e/dependency_filter_test.go
  test/e2e/depends_on_test.go
  test/e2e/destroy_reconciliation_failure_test.go
  test/e2e/dry_run_test.go
  test/e2e/empty_set_test.go
  test/e2e/exit_early_test.go
  test/e2e/invconfig/configmap.go
  test/e2e/invconfig/invconfig.go
  test/e2e/inventory_policy_test.go
  test/e2e/mutation_test.go
  test/e2e/name_inv_strategy_test.go
  test/e2e/namespace_filter_test.go
  test/e2e/prune_retrieve_error_test.go
  test/e2e/reconcile_failed_timeout_test.go
  test/e2e/serverside_apply_test.go
  test/e2e/skip_invalid_test.go
  test/stress/thousand_deployments_retry_test.go
  test/stress/thousand_deployments_test.go
  test/stress/thousand_namespaces_test.go
Labels: approved, size/L, lgtm, cncf-cla: yes
